.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-color: white;
  transition: background-color 0.4s ease-in-out;
}

.chat.dark_mode .chat_header .chat_name{
  color: grey;
}

.chat.dark_mode{
  background-color: #1c1c1c;
}

.chat_header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.chat_header > h4 {
  font-weight: 500;
  color: gray;
}
.chat_name {
  color: black;
}
.chat_header > Button {
  color: rgb(28, 215, 221);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
}
.chat_input > form {
  flex: 1;
}
.chat_messages {
  flex: 1;
  overflow: scroll;
}
.chat_messages::-webkit-scrollbar {
  display: none;
}
.chat_input > form > input {
  width: 96%;
  outline-width: 0;
  border: 0px solid lightgray;
  border-radius: 999px;
  padding: 15px;
}

.chat_input form input{
  background-color:rgb(232, 232, 232)
}

.chat_input > form > button {
  display: none;
}

.chat_input button{
  background-color: white;
  border-radius: 100px;
}
