.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
.sidebarChat:hover {
  background-color: #3e93fd;
  color: white;
}
.sidebarchat_info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}
.sidebarchat_info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
